.ma-name--kingpin {
	background-image: url(./assets/ma/underworld/kingpin.png);
	padding-top: 61px;
}

.ma-name--edgelord {
	background-image: url(./assets/ma/underworld/edgelord.png);
	padding-top: 61px;
}

.ma-name--tunneler {
	background-image: url(./assets/ma/underworld/tunneler.png);
	padding-top: 61px;
}

.ma-name--risktaker {
	background-image: url(./assets/ma/underworld/risktaker.png);
	padding-top: 61px;
}
